In [54]:
import os 
os.getcwd()
os.chdir(r'C:\Users\MAIN\Desktop\ML\Internship SMinds\Recommender')

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [55]:
#import dataset
df = pd.read_csv("TripAdvReview.csv", na_values=" ")
df.head(n=5)
df.columns
#data wrangling
print('Unique counts:',df.nunique())

print('Kind of ratings:',df.Rating.unique())

Unique counts: Title            846
Bubble_Count       7
Rating             7
Review_Count      70
Review_counts     69
City             327
Province          12
Reviews          570
dtype: int64
Kind of ratings: [5.  4.5 4.  3.5 nan 1.  2.  3. ]

In [56]:
#remove extra columns and keep the necessary ones for analysis
df = pd.DataFrame(df.drop(['Bubble_Count', 'Review_Count'], axis=1))
df.columns
print(df.head(n=5))

                                               Title  Rating  Review_counts  \
0                            Vacation/Cottage Rental     5.0           85.0
1    Mistiso's Place Vacation Rentals- Purcell Suite     4.5          100.0
2  Toronto 4 Bedroom House Spacious Clean Beautif...     5.0           36.0
3                                   Our Sweet Escape     5.0           34.0
4    Walk to ocean from Lyons Cottage Rentals in PEI     4.5           48.0

             City               Province  \
0   Niagara Falls                Ontario
1          Nelson       British Columbia
2         Toronto                Ontario
3  Qualicum Beach       British Columbia
4        Stanhope   Prince Edward Island

                                             Reviews
0  1 mention of vacation rentals\nThis rental fel...
1  4 mentions of vacation rentals\nI can't say en...
2  1 mention of vacation rentals\nback yard! Woul...
3  3 mentions of vacation rentals\nenjoyable. I h...
4  2 mentions of vacation rentals\nquiet morning ...

In [57]:
#remove new line characters from variable columns
df = df.replace(r'\n',' ', regex=True)

In [58]:
df.head(n=5)

,Title,Rating,Review_counts,City,Province,Reviews
0,Vacation/Cottage Rental,5.0,85.0,Niagara Falls,Ontario,1 mention of vacation rentals This rental felt...
1,Mistiso's Place Vacation Rentals- Purcell Suite,4.5,100.0,Nelson,British Columbia,4 mentions of vacation rentals I can't say eno...
2,Toronto 4 Bedroom House Spacious Clean Beautif...,5.0,36.0,Toronto,Ontario,1 mention of vacation rentals back yard! Would...
3,Our Sweet Escape,5.0,34.0,Qualicum Beach,British Columbia,3 mentions of vacation rentals enjoyable. I ha...
4,Walk to ocean from Lyons Cottage Rentals in PEI,4.5,48.0,Stanhope,Prince Edward Island,2 mentions of vacation rentals quiet morning a...

In [59]:
#remove the numbers in the review column
df.Reviews = df.Reviews.str.replace('\d+', '')

### Handle Missing Values

In [60]:
#Remove missing Values

df.isnull().sum()

Title              0
Rating           221
Review_counts    281
City               0
Province           0
Reviews          278
dtype: int64

In [61]:
#fills the rating and Review_counts variable missing values with the mean and median respectively

df = df.fillna({'Rating': df.Rating.median(), 'Review_counts': df.Review_counts.mean()})

In [62]:
df.isnull().sum()

Title              0
Rating             0
Review_counts      0
City               0
Province           0
Reviews          278
dtype: int64

In [63]:
#drop all missing values
df.dropna(axis=0,how='any',inplace=True)

In [64]:
df.isnull().sum()

Title            0
Rating           0
Review_counts    0
City             0
Province         0
Reviews          0
dtype: int64

In [65]:
df.head()

,Title,Rating,Review_counts,City,Province,Reviews
0,Vacation/Cottage Rental,5.0,85.0,Niagara Falls,Ontario,mention of vacation rentals This rental felt ...
1,Mistiso's Place Vacation Rentals- Purcell Suite,4.5,100.0,Nelson,British Columbia,mentions of vacation rentals I can't say enou...
2,Toronto 4 Bedroom House Spacious Clean Beautif...,5.0,36.0,Toronto,Ontario,mention of vacation rentals back yard! Would ...
3,Our Sweet Escape,5.0,34.0,Qualicum Beach,British Columbia,mentions of vacation rentals enjoyable. I hav...
4,Walk to ocean from Lyons Cottage Rentals in PEI,4.5,48.0,Stanhope,Prince Edward Island,mentions of vacation rentals quiet morning as...